{% extends "admin/change_form.html" %}
{% block object-tools %}
{{ block.super }}
<style>
#content-main {
    position: relative;
}
#sidebar-panel {
    background: none repeat scroll 0 0 #EFEFEF;
    border-left: 1px solid #DDDDDD;
    margin: 0;
    position: absolute;
    right: 0;
    top: 0;
    bottom:0;
    width: 160px;
    z-index: 1000;
    overflow: auto;
    min-height: 400px;
    padding-left:5px;
}
#content-main form {
    margin-right: 170px;
}
#sidebar-panel h2 {
    margin-left:-5px;
}
#sidebar-panel h3 {
    font-size: 12px;
    margin: 0.6em 0 0 0;
    padding: 0px;
}

</style>
<div id="sidebar-panel" class="module">
<h2>{% if adminform.form.sidebar_name %}{{adminform.form.sidebar_name|safe}}{% else %}Sidebar{% endif %}</h2>
{{ adminform.form.sidebar|safe }}
</div>
{% endblock %}
